@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-image: url('background');
  background-position: unset;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#app-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app-row {
  width: 100%;
  max-width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: url('background');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: initial;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.6);
}

#div-image {
  justify-content: center;
  text-align: center;
  text-align: center;
}

#image {
  width: 200px;
  height: auto;
  border-radius: 50%;
  border: 1px solid #333;
}

#name {
  font-weight: bold;
  font-size: 26px;
  font-family: Roboto, sans-serif;
}

#bio {
  color: #999;
  font-weight: bold;
  margin-top: -10px;
}

#app-links {
  display: inline-grid;
}

#links {
  display: flex;
  align-items: center;
  justify-content: center;
}
